/*défintion de la grille parente*/
.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  background-size: auto;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  font-family: Avenir, sans-serif;
  background: #b4a696;

}

/*mise en forme du SVG décoratif en haut de page*/
.custom-shape-divider-top-1651047884 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1651047884 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1651047884 .shape-fill {
  fill: #ffffff72;
}

/*en-tete de page*/
.grid-en-tete {
  z-index: 5;
  font: var(--dark-green);
  grid-area: 1 / 2 / 2 / 8;
  grid-auto-columns: 6fr;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

/*pied de page*/
.grid-pied {
  grid-area: 6 / 4 / 7 / 8;
  font-weight: bold;
  grid-auto-columns: 6fr;
  font-size: large;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px 0px 40px 0px;

}

/*bandeau gauche*/
.grid-bandeau-gauche {
  grid-area: 1 / 1 / 7 / 2;
  top: 0;
  left: 0;
}

/*bandeau droit*/
.grid-bandeau-droit {
  grid-area: 1 / 8 / 7 / 9;
}

/*placement de la map dans la grille*/
.grid-map-wrapper {
  grid-area: 2 / 4 / 6 / 8;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.map-border {
  border: 2px solid var(--dark-green);
  width: 100%;
  height: 100%;
  opacity: 1;

}

#map {
  height: 100%;
  width: 100%;
  z-index: 6;
  opacity: 1;

}

/*div formulaire*/
.formulaireAndResults {
  display: inline-flex;
  flex-direction: column;
  z-index: 10;
  height: 93.5%;
  width: 98%;
  background-color: #f3ece487;
  grid-area: 2 / 2 / 7/ 4;
  border: 2px solid var(--dark-green);
  text-align: center;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
 
}
/*pour formulaire*/
legend {
  color: var(--dark-green);
  font-size: 1,5em;
  text-align: center;
  font-weight: bold;
}
/*pour formulaire*/
label {
  color: var(--dark-green);
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}
/*pour formulaire*/
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
 
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 0.8em;
    border: 1px solid var(--dark-green);
    margin-bottom: 20px;
}

.radio-toolbar label:hover {
  background-color: var(--light-green)
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px var(--dark-green)
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: var(--dark-green);
}


.tg {
  border-collapse: collapse;
  border-color: #aaa;
  border-spacing: 0;
  width: max-content;
}

.tg td {
  background-color: #fff;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: var(--dark-green);
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-l8kr {
  border-color: #013300;
  font-family: Verdana, Geneva, sans-serif !important;
  font-size: 14px;
  text-align: center;
  vertical-align: top
}

.tg .tg-jjtw {
  border-color: #013300;
  font-family: Verdana, Geneva, sans-serif !important;
  font-size: 14px;
  text-align: center;
  vertical-align: top
}

button {
  display: inline-flex;
  height: fit-content;
  width: 90%;
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 20px;
}

button:hover {
  background-color: var(--light-green)
}

.button {
  display: inline-flex;
  height: 100%;
  width: 90%;
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
  color: var(--dark-green);
  text-decoration: overline;
  font-size: 1em;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: bold;
}

a {
  color: var(--dark-green);
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
}

#button-4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-4 a {
  position: relative;
  transition: all .45s ease-Out;
}

.underline {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  align-self: flex-end;
  left: -100%;
  background: #BFC0C0;
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

#button-4:hover .underline {
  left: 0;
}




@media only screen and (max-width: 768px) {
  [class*="grid-"] {
    display: flexbox;
    grid-area: unset;
    flex-direction: column;
  }

  .parent {
    display: unset;
  }
}