
<input type="checkbox" id="ham-menu">
<label for="ham-menu">
  <div class="hide-des">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
  </div>
</label>

<div class="full-page-green"></div>
<div class="ham-menu">
  <ul class="centre-text bold-text">
    <li alt="Home" class="nav-link" routerLink="home" routerLinkActive="lien-active">
      Home
    </li>
    <li alt="Loyers Paris" class="nav-link" routerLink="loyers-paris-leaflet" routerLinkActive="lien-active">
      Loyers Paris
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
