<div class="parent">
    <div class="container">
        <div class="card" id="gitHub">
            <div class="imgBx">
                <img src="assets\github-black-border.png">
            </div>
            <div class="contentBx">
                <h2>GitHub</h2>
                <br>
                <br>
                <a target="_blank" href="https://github.com/Maxpea/portfolioMaxPea">Voir repo</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" id="codinGame">
            <div class="imgBx">
                <img src="assets\codingame-for-work-square.png">
            </div>
            <div class="contentBx">
                <h2>CodinGame</h2>
                <div class="size">
                    <h3>Level</h3> 
                    <span>5</span>         
                </div>
                <div class="color">
                    <h3>Succès</h3>
                    <span>18</span>
                    <span>1</span>
                    <span>0</span>
                    <span>0</span>
                </div>
                <a target="_blank" href="https://www.codingame.com/profile/87d78b40758ce6fafda74f50afe159fa0702984">Voir profil</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" id="cssBattle">
            <div class="imgBx">
                <img src="assets\css-battle-logo.png">
            </div>
            <div class="contentBx">
                <h2>CSSBattle</h2>
                <div class="size">
                    <h3>Targets</h3>
                    <span>17</span>
                </div>
                <div class="color">
                    <h3>Score 10343</h3>
                
                </div>
                <a target="_blank" href="https://cssbattle.dev/player/maxpea">Voir profil</a>
            </div>
        </div>
    </div>
</div>